@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  --background: #49796b;
  --form-background: #a3c1ad;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background: var(--form-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 520px;
  width: 90%;
}

input {
  outline: none;
}

input[type="date"] {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid var(--background);
  background: var(--background);
  margin-bottom: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For Firefox */
input[type="date"] {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid var(--background);
  background: var(--background);
  margin-bottom: 10px;
}

input[type="submit"] {
  cursor: pointer;
  background: #365a50;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #365a50;
  transition: 0.3s;
}

#date-selector {
  margin-bottom: 10px;
}

#salary {
  margin-bottom: 20px;
}

#result {
  display: none;
  color: #fff;
  background: #58a378;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#errors {
  display: none;
  color: #fff;
  background: #ff6666;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}